default:
  suites:
    default:
      contexts:
        - \Staffim\Behat\MailExtension\Context\MailContext
        - FeatureContext
  formatters:
    pretty: ~
  extensions:
    Staffim\Behat\MailExtension\BehatMailExtension: ~
